#AddType x-mapp-php5 .php
#AddHandler x-mapp-php5 .php

<IfModule mod_authz_core.c>
  # Apache 2.4
  <RequireAll>
    Require all denied
  </RequireAll>
</IfModule>
<IfModule !mod_authz_core.c>
  # Apache 2.2
  Order Deny,Allow
  Deny from all
</IfModule>

Options -Indexes
