###############################################################################
# .htacces Security File
# Author: Martin Weber
# Shopgate GmbH
# website: http://www.shopgate.com
# Project: http://code.google.com/p/shopgate-framework/
#
# Revision: $Rev: 50 $
###############################################################################

Order deny,allow
Deny from all
<Files *.css>
	Allow from all
</Files>
